@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    width: 100%;
    height: 100%;
    background-color: rgb(17, 17, 17);

    
    
}

.page1{
    width: 100%;
    height: 97vh;
    
    
}



.top{
    width: 100%;
    height: 90%;
    background-color: rgb(255, 255, 255);
    background-color: rgb(28, 28, 28);

}

.navbar{
    width: 100%;
    height: 10%;
    /* border: 1px solid black; */
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-family: 'gilroy';
    position: fixed;
    z-index: 110;
    top: 0;
}

.navbar .logo{
    font-family: 'gilroy';
    color: white;
    cursor: pointer;
    margin-left: 30px;
}

.navbar .logo span{
    font-family: 'Dancing Script', cursive;
    color: rgb(255, 151, 33);
    font-weight: 700;
}

nav ul li{
    list-style: none;
    color: white;
    font-size: 16px;
    /* border-bottom: 0.1px solid #333; */
    margin-left: 70px;
    margin-right: 70px;
    display: inline-block;

}

nav ul li a{
    text-decoration: none;
    color: white;
}


nav ul li a:hover{
    color: orange;
}

.hamburger{
    display: none;
}


.hamburger i{
    font-size: 30px;
    color: white;
    margin-right: 20px;
    cursor: pointer;
    
}

.hammenu{
    width: 50%;
    height: 100vh;
    position: absolute;
    left: -100%;
    top:0;
    background-color: rgb(13, 13, 13);
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    transition: all 0.4s;
}

.hammenu ul li{
    list-style: none;
    margin-top: 20px;
    margin-bottom: 20px;
    
}

.hammenu ul li a{
    color: white;
    font-family: 'gilroy';
    text-decoration: none;
}

.txtbox{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* border: 1px solid black; */
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
 
}


.txtbox h2{
    font-family: 'gilroy';
    font-size: 7.2vw;
    color: white;
    font-weight: 500;
    
}

.txtbox h1{
    font-family: 'gilroy';
    font-size: 7.2vw;
    font-weight: 500;
    
    color: white;
}
.pbox{
    display: flex;
    align-items: center;
    justify-content: center;
}

.pbox p{
    font-size: 18px;
    color: white;
    font-family: 'gilroy';
}

.top button{
    width: 100px;
    height: 40px;
    border-radius: 25px;
    background: inherit;
    border: 0.2px solid white;
    font-size: 15px;
    color: white;
    margin-top:20px;
    /* transition: all 0.3s; */
}

.top button:hover{
    border: 0.2px solid orange;
    color: orange;
    cursor: pointer;
}

.pngbox img{
    width: 30px;
    margin-left: 7px;
    margin-right: 7px;
    margin-top: 20px;
}

#fontchange{
    color: #c5c5c5;
}

.caption{
    width: 180px;
    height: 110px;
    background-color: inherit;
    border-radius: 25px;
    border: 0.1px solid rgb(185, 185, 185);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    font-family: 'gilroy';
    color: white;
    position: absolute;
    right: 5%;
    bottom: 15%;
}

.caption p{
    font-size: 14.5px;
}


.bottom{
    width: 100%;
    height: 10%;
    background-color: rgb(28,28,28);
    /* clip-path: polygon(0 53%, 100% 0, 100% 100%, 0% 100%); */
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);    display: flex;
    align-items: center;
    justify-content: center;
    
}

.bottom i{
    font-size: 30px;
    color: #ffffff;
}



.page2{
    width: 100%;
    min-height: 110vh;
   
    background-color: rgb(28, 28, 28);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px;
    
    
}


.mybox{
    width: 100%;
    /* min-height: 300px; */
    /* border: 1px solid black; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
   
}


.myimg{
    width: 400px;
    height: 300px;
    background-color: white;
    overflow: hidden;
    border-radius: 4px;
    box-shadow: 0px 3px 5px rgb(17, 16, 16);
    position: relative;
    margin-top: 50px;
    margin-left: 10px;
    margin-right: 10px;


}

.myimg img{
    width: 100%;
    height: 450px;
    
}

.mycrt{
    width: 400px;
    height: 300px;
    background-color: white;
    overflow: hidden;
    border-radius: 4px;
    box-shadow: 0px 3px 5px rgb(22, 22, 22);
    position: relative;
    margin-top: 50px;
    margin-left: 10px;
    margin-right: 10px;
    position: relative;

}

.mycrt img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.crtcurtain{
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: white;
    z-index: 99;
    left: 0%;
}

.about{
    width: 85%;
    display: flex;
    flex-direction: column;
}

.about h1{
    font-size: 3vw;
    font-family: 'gilroy';
    color: white;
    font-weight: 500;
    margin-top: 30px;
}

.about p{
    font-family: 'gilroy';
    font-size: 18px;
    line-height: 1.4;
    margin-top: 10px;
    color: white;
}

.about button{
    width: 120px;
    height: 40px;
    background-color: transparent;
    outline: none;
    border: 0.1px solid gray;
    border-radius: 25px;
    margin-top: 15px;
}


.page3{
    width: 100%;
    min-height: 100vh;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(28, 28, 28);
}




.skills{
    width: 85%;
    padding: 50px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
   
}

#page3img{
    width: 20vw;
    opacity: 0.4;
    position: absolute;
    bottom:-25%
}




.skltxt h1{
    font-family: 'gilroy';
    font-weight: 500;
    font-size: 3vw;
    color: white;
    margin-bottom: 15px;

}

.skltxt p{
    margin-bottom: 25px;
    font-family: 'gilroy';
    color: white;
    text-align: left;
    font-size: 18px;
    line-height: 1.3;
}

.skltxt{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.skill{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;

}

.card{
    width: 300px;
    height: 200px;
    border-radius: 12px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 2px 10px rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 23px;
   

}

.card h3{
    font-family: 'gilroy';
    color: #464646;
    margin-bottom: 7px;
}

.card p{
    text-align: center;
    font-family: 'gilroy';
}

.tech{
    border: 0.1px solid gray;
    padding: 20px;
    border-radius: 12px;
    margin-top: 20px;
}

.tech img{
    width: 50px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 10px;
}

.page4{
    width: 100%;
    height: 170vh;
    height: 92vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #070707;
    position: relative;
    overflow: hidden;
    /* border: 1px solid white; */
}

.design{
    width: 150vw;
    height: 97vw;
    /* border: 1px solid black; */
    position: absolute;
    left: -25%;
    display: flex;
    overflow: hidden;
}

.col{
    width: 50%;
    height: 100%;
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.col img{
    width: 98%;
    border-radius: 5px;
    margin-top: 10px;
}




.page5{
    width: 100%;
    background-color: rgb(28, 28, 28);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.worktxt{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 85%;
    padding: 50px;
    color: white;
    font-family: 'gilroy';
    
}

.worktxt h1{
    font-size: 3vw;
    font-weight: 500;
    margin-top: 50px;
}

.worktxt p{
    margin-top: 10px;
    line-height: 1.3;
    font-size: 18px;
}

.work{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
 
}

.workbox{
    width: 700px;
    height: 500px;
    /* border: 1px solid black; */
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.workimg{
    width: 100%;
    height: 400px;
    /* border: 1px solid white; */
    position: relative;
    border-radius: 5px;
    overflow: hidden;
}

.workimg img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}

.workname{
    width: 100%;
    height: 90px;
    /* border: 1px solid white; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.workname h2{
    font-family: 'gilroy';
    color: white;
    font-weight: 500;
}

.workname button{
    width: 80px;
    height: 30px;
    outline: none;
    color: white;
    border: 0.1px solid gray;
    border-radius: 12px;
    background-color: inherit;
}

.workcurtain1{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    background-color: white;
    border-radius: 5px;
}
.workcurtain2{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    background-color: white;
    border-radius: 5px;
}


.page6{
    width: 100%;
    height: 100vh;
    background-color: rgb(28, 28, 28);
    position: relative;
    display: flex;
    
}


.conLeft{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: flex-start;
    justify-content: center;
    padding: 120px;
    overflow: hidden;
    /* border: 1px solid black; */
}

.conLeft img{
    width: 90%;
    position: absolute;
    bottom: -5%;
    opacity: 0.4;
    
}

.conLeft h1{
    font-size: 4.5vw;
    font-family: 'gilroy';
    color: white;
    font-weight: 500;
    z-index: 8;
}
.conLeft h2{
    font-family: 'gilroy';
    color: white;
    font-weight: 500;
    z-index: 8;
}

.conLeft p{
    font-family: 'gilroy';
    color: white;
    font-weight: 500;
    z-index: 8;
    margin-top: 10px;
}

.conRight{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mailbox{
    width: 70%;
    height: 80%;
    /* background-color: black; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
}

.mailbox h2{
    font-family: 'gilroy';
}

.mailbox form{
    width: 70%;
    font-family: 'gilroy';
}

.formdiv{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-top: 20px;
}

.formdiv input{
    width: 100%;
    height: 40px;
    outline: none;
    border: none;
    border-radius: 5px;
    padding: 10px;
}
.mailbox label{
    margin-bottom: 5px;
}

.mailbox textarea{
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    outline: none;
    border: none;
}

.mailbox button{
    width: 80px;
    height: 40px;
    border: 0.1px solid gray;
    outline: none;
    color: white;
    background: inherit;
    border-radius: 12px;
    margin-top: 20px;
}



.footer{
    width: 100%;
    height: 15vh;
    background-color: rgb(15, 15, 15);
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: white;
    font-family: 'gilroy';
}

.rights h2{
    font-size: 1.3vw;
    font-weight: 400;
   
}

.footer p{
    font-size: 14px;
    margin-top: 5px;
}

.social i{
    color: white;
    font-size: 22px;
    margin-left: 15px;
    margin-right: 15px;
}

.terms{
    display: flex;

}
.terms p{
    margin-right: 10px;
}


@media screen and (max-width:1100px){
    .navbar nav{
        display: none;
    }
    .hamburger{
        display: block;
    }
    .navbar{
        justify-content: space-between;
    }
}

@media screen and (max-width:900px){


    .txtbox h1{
        font-size: 9vw;
        text-align: center;
    }

    .txtbox h2{
        font-size: 9vw;
        text-align: center;
    }
    .pbox{

        padding: 0px 40px;
        margin-top: 15px;
    }
    .pbox p{
        text-align: center;
        margin-top: 0;
    }
    .about h1{
        font-size: 4vw;
    }
    .about p{
        text-align: center;
        margin-top: 15px;
    }
    .about{
        align-items: center;
        justify-content: center;
    }
    .skltxt h1{
        font-size: 4vw;
    }

    .skltxt p{
        text-align: center;
    }

    .skills{
        align-items: center;
    }
    .skltxt{
        align-items: center;
    }

    .worktxt{
        align-items: center;
    }

    .worktxt h1{
        font-size: 4vw;
    }

    .worktxt p{
        text-align: center;
    }

    .page6{
        flex-direction: column;
        height: 140vh;
    }

    .conLeft{
        width: 100%;
        height: 40%;
        align-items: center;

    }

    .conLeft p{
        text-align: center;
    }
    .conRight{
        width: 100%;
        height: 60%;
    }
    .rights h2{
        font-size: 2vw;
    }

    .card{
        margin-left: 0;
        margin-top: 10px;
    }

    .workbox{
        width: 90vw;
        height: 70vw;
    }
    .workimg{
        height: 80%;
    }
    .workname{
        height: 20%;
    }
}

@media screen and (max-width:600px){
    .txtbox h1{
        font-size: 11vw;
    }
    .txtbox h2{
        font-size: 11vw;
    }
    .caption{
        display: none;
    }
    .page2{
        padding: 10px;
    }
    .about h1{
        font-size: 7vw;
        margin-top: 35px;
    }
    .myimg{
        width: 90vw;
        height: 60vw;
    }
    .mycrt{
        width: 90vw;
        height: 60vw;
    }
    .skills{
        padding: 10px;
    }

    .skltxt h1{
        font-size:7vw ;
        margin-top: 35px;
    }
    .tech{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
    }

    .worktxt{
        padding: 10px;
        align-items: center;
    }

    .worktxt h1{
        font-size: 7vw;
        margin-top: 35px;
        text-align: center;
    }
    .workname h2{
        font-size: 18px;
    }
    .conLeft{
        padding: 50px;
        height: 30%;
    }
    .conRight{
        height: 70%;
    }
    .conLeft h1{
        font-size: 7vw;
    }
    .conLeft p{
        font-size: 16px;
    }
    .mailbox{
        width: 100%;
    }
    .mailbox form{
        width: 85%;
    }
    .mailbox h2{
        font-weight: 500;
    }

    .footer{
        flex-direction: column;
        justify-content: center;
        height: 30vh;
    }

    .rights{
        margin-bottom: 15px;

    }

    .rights h2{
        text-align: center;
        font-size: 5vw;
    }

    .terms{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-around;
        margin-top: 15px;
    }
    
}