@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



body{
    width: 100%;
    height: 100%;
    background-color: rgb(67, 67, 67);
    
    
}

.page1{
    width: 100%;
    height: 97vh;
    
    
    /* border-bottom: 1px solid black; */
    
}



.top{
    width: 100%;
    height: 90%;
    background-color: rgb(255, 255, 255);
    background-color: rgb(28, 28, 28);

}

.navbar{
    width: 100%;
    height: 10%;
    /* border: 1px solid black; */
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-family: 'gilroy';
}

.navbar .logo{
    font-family: 'gilroy';
    color: white;
}

.navbar .logo span{
    font-family: 'Dancing Script', cursive;
    color: rgb(255, 151, 33);
    font-weight: 700;
}

nav ul li{
    list-style: none;
    color: white;
    font-size: 16px;
    /* border-bottom: 0.1px solid #333; */
    margin-left: 70px;
    margin-right: 70px;
    display: inline-block;

}

.txtbox{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* border: 1px solid black; */
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
 
}


.txtbox h2{
    font-family: 'gilroy';
    font-size: 7.2vw;
    color: white;
    font-weight: 500;
    
}

.txtbox h1{
    font-family: 'gilroy';
    font-size: 7.2vw;
    font-weight: 500;
    
    color: white;
}
.pbox{
    display: flex;
    align-items: center;
    justify-content: center;
}

.pbox p{
    font-size: 18px;
    color: white;
    font-family: 'gilroy';
}

.top button{
    width: 100px;
    height: 40px;
    border-radius: 25px;
    background: inherit;
    border: 0.2px solid white;
    font-size: 15px;
    color: white;
    margin-top:20px;
}

.pngbox img{
    width: 30px;
    margin-left: 7px;
    margin-right: 7px;
    margin-top: 20px;
}

#fontchange{
    color: #c5c5c5;
}

.caption{
    width: 180px;
    height: 110px;
    background-color: inherit;
    border-radius: 25px;
    border: 0.1px solid rgb(185, 185, 185);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    font-family: 'gilroy';
    color: white;
    position: absolute;
    right: 5%;
    bottom: 15%;
}

.caption p{
    font-size: 14.5px;
}


.bottom{
    width: 100%;
    height: 10%;
    background-color: rgb(28,28,28);
    /* clip-path: polygon(0 53%, 100% 0, 100% 100%, 0% 100%); */
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);    display: flex;
    align-items: center;
    justify-content: center;
    
}

.bottom i{
    font-size: 30px;
    color: #ffffff;
}



.page2{
    width: 100%;
    height: 110vh;
    background-color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    position: relative;
    padding: 50px;
    z-index: 99;
}

.mybox{
    width: 100%;
    height: 300px;
    /* border: 1px solid black; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.social{
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.social p{
    margin-right: 20px;
    color: gray;
    font-family: 'gilroy';
    border:1px solid #1c1c1c;
    padding: 5px 13px;
    border-radius: 25px;
    margin-top: 10px;
}



.myimg{
    width: 400px;
    height: 300px;
    background-color: white;
    overflow: hidden;
    border-radius: 4px;
    box-shadow: 0px 3px 5px rgb(17, 16, 16);
    position: relative;
    margin-top: 50px;
    margin-left: 10px;
    margin-right: 10px;


}

.myimg img{
    width: 100%;
    height: 450px;
    
}

.mycrt{
    width: 400px;
    height: 300px;
    background-color: white;
    overflow: hidden;
    border-radius: 4px;
    box-shadow: 0px 3px 5px rgb(22, 22, 22);
    position: relative;
    margin-top: 50px;
    margin-left: 10px;
    margin-right: 10px;

}

.mycrt img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.curtain{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 99;
    /* background-color: rgba(255, 255, 255, 0.388); */
    background: linear-gradient(to bottom, rgba(216, 209, 209, 0),rgba(255, 255, 255, 0),rgba(32, 32, 32, 0.445));
}
.about{
    width: 85%;
    display: flex;
    flex-direction: column;
}

.about h1{
    font-size: 3vw;
    font-family: 'gilroy';
    color: white;
    font-weight: 500;
}

.about p{
    font-family: 'gilroy';
    font-size: 18px;
    line-height: 1.4;
    margin-top: 10px;
    color: white;
}

.about button{
    width: 120px;
    height: 40px;
    background-color: transparent;
    outline: none;
    border: 0.1px solid gray;
    border-radius: 25px;
    margin-top: 15px;
}


.page3{
    width: 100%;
    height: 100vh;
    position: relative;
    background-color: white;
}

.skillset{
    width: 100%;
    height: 100%;
    background-color: rgb(28, 28, 28);
 
    display: flex;
    align-items: center;
    justify-content: center;
}

.overlay{
    width: 100%;
    height: 100%;
    background-color: #333;
    border-bottom-left-radius: 100%;
    border-bottom-right-radius: 100%;
    position:absolute;
    z-index: 10;
}

.skills{
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 100px;
}

.poster{
    width: 40%;
    height: 100%;
    clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 25% 100%, 0% 50%);
}

.poster img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.aboutopen{
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgb(28, 28, 28);
    bottom: -110%;
    border-top-left-radius: 100%;
    border-top-right-radius: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}



.skltxt h1{
    font-family: 'gilroy';
    font-weight: 500;
    font-size: 3vw;
    color: white;
    margin-bottom: 15px;

}

.skltxt p{
    margin-bottom: 25px;
    font-family: 'gilroy';
    color: white;
    text-align: left;
}

.skltxt{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.skill{
    display: flex;
    align-items: flex-start;
    justify-content: center;

}

.card{
    width: 300px;
    height: 200px;
    border-radius: 12px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 2px 10px rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 23px;

}

.card h3{
    font-family: 'gilroy';
    color: #464646;
    margin-bottom: 7px;
}

.card p{
    text-align: center;
    font-family: 'gilroy';
}

.tech{
    border: 0.1px solid gray;
    padding: 20px;
    border-radius: 12px;
    margin-top: 20px;
}

.tech img{
    width: 50px;
    margin-left: 20px;
    margin-right: 20px;
}

.page4{
    width: 100%;
    height: 170vh;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #333;
    position: relative;
    overflow: hidden;
}

.design{
    width: 150vw;
    height: 200vh;
    /* border: 1px solid black; */
    position: absolute;
    left: -25%;
    display: flex;
    overflow: hidden;
}

.col{
    width: 50%;
    height: 100%;
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.col img{
    width: 98%;
    border-radius: 5px;
    margin-top: 10px;
}


.page5{
    width: 100%;

    background-color: rgb(28, 28, 28);
}

.worktxt{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 80%;
    padding: 50px;
    color: white;
    font-family: 'gilroy';
    margin-top: 50px;
    
}

.worktxt h1{
    font-size: 3vw;
    font-weight: 500;
}

.worktxt p{
    margin-top: 10px;
    line-height: 1.3;
}

.work{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.workbox{
    width: 45%;
    height: 500px;
    /* border: 1px solid black; */
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.workimg{
    width: 100%;
    height: 400px;
    /* border: 1px solid white; */
}

.workimg img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}

.workname{
    width: 100%;
    height: 90px;
    /* border: 1px solid white; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.workname h1{
    font-family: 'gilroy';
    color: white;
    font-weight: 500;
}

.workname button{
    width: 80px;
    height: 30px;
    outline: none;
    color: white;
    border: 0.1px solid gray;
    border-radius: 12px;
    background-color: inherit;
}

.page6{
    width: 100%;
    height: 100vh;
    background-color: rgb(28, 28, 28);
}